:root {
    --min-padding : 24px;

    --primary-color : #fffff0;
    --primary-font : #2F2F2F;
    --placeholder-font : #777777;
    --stroke-color : #717171;

    --lemon: #FFFF8D;
    --lemon-stroke: #D8DA7A;

    --tulip: #FF7979;
    --tulip-stroke: #CB5D3A;

    --card-1: #2F2F2F;
    --card-2: #474747;

    --font-size-h1 : 28px;
    --font-size-medium : 18px;
    --font-size-small : 16px;
}

* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'NanumMyeongjo';
    color : var(--primary-font);
}

body {
    background: var(--primary-color);
}

@keyframes float-up {
    0% {
        transform : translateY(30px);
        opacity :0;
    }

    30% {
        transform : translateY(30px);
        opacity :0;
    }

    100% {
        transform : translateY(0);
        opacity : 1;
    }
}

@keyframes up-and-down {
    0% {
        bottom : -80px;
    }

    15% {
        bottom : 10px;
    } 
    20% {
        bottom : 0;
    }

    80% {
        bottom : 0;
    }

    85% {
        bottom : 10px;
    }

    0% {
        bottom : -80px;
    }

}